.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}


nav {
	background-color: black;
	clear: both;
}

h2 {
text-align: center;
}

body {
  background-image: url("../../Images/marble.jpg");
}

#reviewOne{
  margin-left: 50px;

}

#reviewTwo{
  margin-left: 75px;
}

#reviewThree{
  margin-left: 90px; 
}
