@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

nav {
	background-color: black;
	clear: both;
}

h2 {
text-align: center;
}

body {
  background-image: url("../../Images/marble.jpg");
  font-family: 'Open Sans Condensed', sans-serif;
  color: black; 
}

#reviewOne{
  margin-left: 50px;

}

#reviewTwo{
  margin-left: 50px;
}

#reviewThree{
  margin-left: 50px;
}

#gamesOne{
  margin-left: 50px;

}

#gamesTwo{
  margin-left: 50px;
}

#gamesThree{
  margin-left: 50px;
}

#imgOne{

  float: right;
}
#buttonOne{
  float: right;
}
