<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container">
  <h1>{{ page.title }}</h1>
  {{ content }}
</div>

<nav>
<ul>
  <li><a href="index.html">Home</li>
<li><a href="our_story.html">Our Story</li>
<li><a href="menu.html">Menu</li>
<li><a href="upcoming_events.html">Upcoming Events</li>

</ul>
</nav>

</body>
</html>
