<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container-fluid">
  <h1>{{ page.title }}</h1>



<div class ="row">
  <div class="col-md-12">
    <nav>
    <ul class="list-inline nav_bar" >
    <li><a href="index.html">Home</a></li>
    <li><a href="my_page.html">News/Reviews</a></li>
    <li><a href="games.html">Games</a></li>
    <li><a href="about.html">About</a></li>
    </ul>
    </nav>
  </div>
</div>
    <div class = "container-fluid">
      <div class = "row">
        <div class="col-md-12">

{{content}}
</div> 
</div>

</body>
</html>
